.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

logs/
run/
reports/
notebooks/.ipynb_checkpoints/

data/raw/
data/processed/
data/replay/

secrets/
config/*.local.*
etc/*.local.*
.env

.vscode/
.idea/
.DS_Store
etc/project.env
secrets
