[Unit]
Description=ScalpX MME weekday close-session timer
Documentation=/home/Lenovo/scalpx/projects/mme_scalpx/README.md
Requires=scalpx-mme-close.service

[Timer]
Unit=scalpx-mme-close.service
OnCalendar=Mon..Fri 15:30:00
Persistent=true
AccuracySec=1s

[Install]
WantedBy=timers.target
