APP_ENV=dev
TZ=Asia/Kolkata

REDIS_MODE=local
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=
REDIS_TLS_ENABLED=false

# future cluster mode example
# SCALPX_REDIS_HOST_PRIMARY=redis-node1
# SCALPX_REDIS_HOST_REPLICA=redis-node2
# SCALPX_REDIS_PORT=6380
# SCALPX_REDIS_CACERT=/etc/scalpx/redis/certs/ca_bundle.pem
# SCALPX_REDIS_PW_FILE=/etc/scalpx/redis/pw.txt

LOG_LEVEL=INFO
